{% extends "base.html" %}
{% block title %}Add New Project{% endblock %}

{% block content %}
<h2>Add New Project</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=50) }}
    </div>

    <div>
        {{ form.description.label }}<br>
        {{ form.description(rows=4, cols=50) }}
    </div>

    <div>
        {{ form.image_url.label }}<br>
        {{ form.image_url(size=50) }}
    </div>

    <div>
        {{ form.project_url.label }}<br>
        {{ form.project_url(size=50) }}
    </div>

    <div>
        {{ form.category.label }}<br>
        {{ form.category() }}
    </div>

    <br>
    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
